.main-background-cd {
  background: url("../../assets/images/bg-awan.png") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.header_logo {
  display: flex;
  padding: 30px;
}

.logo-cd {
  margin-right: 20px;
  height: 46px;
  width: 138px;
  background-color: #c4c4c4;
}

.content-cd {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li {
  display: inline-block;
  color: white;
  font-size: 24px;
  list-style-type: none;
  padding: 1em;
}

li span {
  display: block;
  font-size: 144px;
  line-height: 144px;
}
