@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Ropa Sans, sans-serif;
	/* color: white !important; */
}

/* Awesome Button */
.aws-btn {
	--button-default-height: 50px !important;
	--button-default-font-size: 14px !important;
	--button-default-border-radius: 10px !important;
	--button-horizontal-padding: 20px !important;
	--button-raise-level: 6px !important;
	--button-hover-pressure: 1 !important;
	--transform-speed: 0.175s !important;
	--button-primary-color: #0a99c7 !important;
	--button-primary-color-dark: #006281 !important;
	--button-primary-color-light: #ffffff !important;
	--button-primary-color-hover: #0a99c7 !important;
	--button-primary-border: none !important;
	--button-secondary-color: #fd3061 !important;
	--button-secondary-color-dark: #d70c4b !important;
	--button-secondary-color-light: #ffffff !important;
	--button-secondary-color-hover: #fd3061 !important;
	--button-secondary-border: 0px solid #1e88e5 !important;
	--button-anchor-color: #0e4f88 !important;
	--button-anchor-color-dark: #072743 !important;
	--button-anchor-color-light: #ffffff !important;
	--button-anchor-color-hover: #0d4a7f !important;
	--button-anchor-border: none !important;
}

.aws-btn:active {
	--button-secondary-color: #fd3061 !important;
	--button-secondary-color-light: #fd3061 !important;
}

/* Global Styles */
h1 {
	font-size: 72px !important;
	color: white;
}
h2 {
	font-size: 48px !important;
	color: white;
}
h3 {
	font-size: 42px !important;
	color: white;
}
h4 {
	font-size: 36px !important;
	color: white;
}
h5 {
	font-size: 24px !important;
	color: white;
}

p {
	font-size: 20px !important;
	color: white;
}
button {
	color: white;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

/* ===================================== */
/* Home Page */
.bg__image {
	/* background: url("./img/bg3.png"); */
	height: 100vh;
	position: relative;
}

.title-bg-home {
	position: absolute;
	z-index: 0;
	right: 0;
	top: 1.5vh;
	width: 140%;
}

.home-title {
	position: relative;
	right: 0.7vw;
	top: 4vh;
}

.header__title {
	padding: 30px;
	position: absolute;
	right: 0;
	/* border: 1px solid red; */
}

.home-title h3,
.home-title h2 {
	text-align: right;
}

.home-title-text {
	font-size: 36px !important;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	/* width: 100%; */
}

.login-page {
	text-align: center;
}

.invcode-input {
	display: block;
	background-color: rgba(0, 0, 0, 0.22);
	border: 1px solid #0a99c7;
	width: 329px;
	height: 58px;
	margin: 20px auto;
	color: white !important;
	padding: 20px;
}

.invcode-input-err {
	display: block;
	/* border-radius: 30px; */
	background-color: rgba(0, 0, 0, 0.22);

	border: 2px solid red;
	width: 329px;
	height: 58px;
	margin: 0 auto;
	color: red !important;
	padding: 20px;
}

.input-error {
	margin-top: 0 !important;
	color: red !important;
}

.input-btn {
	width: 161px;
	height: 58px;
	background: #32677a;
	border-radius: 41px;
	border: transparent;
	opacity: 0.9;
	filter: alpha(opacity=90);
	/* width: 215px;
  height: 52.88px;
  background: #0a99c7;
  border: none;
  text-align: left; */
}

.input-btn-new {
	color: #fff;
	background: #0a99c7; /* CHANGE ONLY THIS ONE AND SEE IT HAPPEN ;) */
	padding: 10px 45px 10px 15px;
	width: 215px;
	height: 52.88px;
	text-align: left;
	font-style: italic;
	/* Do not edit below */
	border: 0;
	position: relative;
	overflow: hidden;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.input-btn-new:after {
	background: rgba(0, 0, 0, 0.2);
	padding: 15px;
	transform: skewX(-12deg);
	width: 60px;
	height: 100px;
	content: url(./assets/images/right.svg); /* \25bc \25be */

	/* Do not edit below */
	position: absolute;
	right: 0;
	top: 0;
}

.input-btn-new:hover::after {
	width: 0;
	height: 0;
	padding: 0;
}

.slick-carousel {
	position: absolute;
	top: -13vh;
	left: 0;
	height: 40vh;
	/* overflow: hidden; */
	/* border: 1px solid yellow; */
}

.test-carousel {
	height: 42vh;
	width: 15vw;
	padding-left: 1vw !important;
	/* border: 1px solid red; */
}

/* .like-button {
	position: absolute;
	top: 37vh;
  left: 4vw;
	width: 2.2vw !important;
	height: 2.5vh;
	background: transparent;
	line-height: 1vh;
	border: none;
	font-size: 1.2vw;
	padding-top: -3vh;
	color: red;
	z-index: 11;
} */

.like-button:focus {
	border: none;
	outline: none;
	color: white !important;
}

/* .like {
	color: black;
	font-size: 19px;
} */

.counter {
	/* position: relative; */
	/* top: -2.2vh; */
	/* left: 1vw; */
	font-size: 1.3vw;
	margin-left: 0.2vw;
}
.to-spaceship {
	width: 550px;
	height: 80px;
	background: #006281;
	border-radius: 41px;
	border: transparent;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.header__logo {
	display: flex;
	padding: 30px;
	justify-content: space-between;
}

.logo1 {
	position: absolute;
	top: 1vh;
	left: 1vw;
}

.logo2 {
	position: absolute;
	top: 1vh;
	right: 0;
	width: 250px;
	/* border: 1px solid red; */
}

.Blink {
	animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.logout {
	/* cek tinggi di 1920 */
	text-align: center;
	font-size: 28px;
	position: absolute;
	top: 25vh;
	right: 1%;
}

.logout-conference {
	text-align: center;
	font-size: 28px;
	position: absolute;
	top: 10vh;
	right: 1%;
}
.logout-video {
	text-align: center;
	font-size: 28px;
	position: absolute;
	/* top: 10vh; */
	right: 1%;
	/* border: 1px solid red; */
}

@media (max-height: 768px) {
	.logout {
		top: 32% !important;
	}
}

@media (max-width: 1440px) {
	.logout {
		top: 27%;
	}
}

@media (max-width: 1366px) {
	.logout {
		top: 25%;
	}
}
@media (max-width: 1204px) {
	.logout {
		top: 32%;
	}
}

.logout-video {
	text-align: center;
	font-size: 28px !important;
	position: absolute;
	top: 3vh;
	right: 2vw;
}

.logout button:active {
	/* background: #000; */
}

.room-1 img:hover,
.room-2 img:hover,
.room-3 img:hover,
.room-4 img:hover {
	cursor: pointer;
}

.room-1 {
	position: absolute;
	left: 52%;
	top: 60%;
	text-align: center;
	width: 200px;
	/* background-color: rgba(0, 0, 0, 0.22); */
}

.room-2 {
	position: absolute;
	top: 49%;
	left: 42.5%;
	text-align: center;
	width: 200px;

	/* background-color: rgba(0, 0, 0, 0.22); */
}

.room-3 {
	position: absolute;
	top: 42%;
	left: 33%;
	text-align: center;
	width: 200px;

	/* background-color: rgba(0, 0, 0, 0.22); */
}
.room-4 {
	position: absolute;
	left: 67%;
	top: 67%;
	text-align: center;
	width: 200px;
	/* background-color: rgba(0, 0, 0, 0.22); */
}

.room-1 p,
.room-2 p,
.room-3 p,
.room-4 p {
	font-size: 16px !important;
}

.blue-text-bg {
	background-color: rgba(10, 153, 199, 1);
	border-radius: 10px;
}

.button-bold-video {
	background-color: white;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 8%;
	left: 37.4%;
	border-radius: 50%;
}

.button-bold2 {
	background-color: white;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 10% !important;
	left: 37.9%;
	border-radius: 50%;
}

.button-bold {
	background-color: white;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 10% !important;
	left: 38%;
	border-radius: 50%;
}
.button-bold1 {
	background-color: white;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 9.5% !important;
	left: 37.7%;
	border-radius: 50%;
}
.button-bold1 {
	background-color: white;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 9.5% !important;
	left: 37.7%;
	border-radius: 50%;
}

.nik {
	position: absolute;
	bottom: 0;
	left: 20px;
}

.nik p {
	font-size: 24px;
	line-height: 26px;
	color: #29abe2 !important;
}

@media (max-width: 1366px) {
	.room-1 {
		/* width: 120px; */
		left: 52%;
		top: 56%;
	}
	.button-bold2 {
		top: 10% !important;
		left: 37.5%;
	}
	.room-2 {
		left: 40%;
	}
	.room-3 {
		left: 28%;
	}
}
@media (max-width: 1024px) {
	.room-1 {
		/* width: 120px; */
		left: 50%;
	}
	.button-bold2 {
		/* top: 10% !important; */
		left: 36%;
	}
	.room-2 {
		left: 40%;
		width: 160px;
	}

	.button-bold1 {
		top: 10% !important;
		left: 37.5%;
	}

	.room-3 {
		left: 24%;
	}
}

/* ///////////////////////////////////////////////////////////////////
//////////////////////    LETTER FROM COMMANDER    ////////////////////
////////////////////////////////////////////////////////////////////// */

.tutorial-title {
	position: absolute;
	top: 45%;
	left: 22%;
}

.text-content-tutorial {
	position: absolute;
	top: 54%;
	left: 22%;
	font-size: 0.9vw;
	overflow: auto;
	height: 28vh;
	right: 23%;
	/* border: 1px solid red; */
}

.main-display-tutorial {
	/* display: none; */
	position: absolute;
	background: url("./assets/images/Tutorialipr.png") no-repeat center bottom;
	-webkit-background-size: 70% 70%;
	-moz-background-size: 70% 70%;
	-o-background-size: 70% 70%;
	background-size: 70% 70%;
	/* top: 10%; */
	/* bottom: 0px; */
	height: 75vh;
	z-index: 6;
	/* border: 1px solid red; */
}

.tutorial-btn {
	/* position: absolute;
	top: 85%;
	left: 47%; */
	/* text-align: center; */
	margin-left: 45%;
	background-color: #0a99c7 !important;
	box-shadow: 0px 0.4vw #006281;
	border-radius: 10px !important;
}
/* ///////////////////////////////////////////////////////////////////
//////////////////////    LETTER FROM COMMANDER    ////////////////////
////////////////////////////////////////////////////////////////////// */
.main-background {
	background: url("./assets/images/bg-awan.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.home-background {
	background-image: url("./assets/images/bg-home.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	/* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
	height: 100vh;
	position: relative;
	display: flex;
	/* z-index: 10 !important; */
}

.home-background2 {
	/* background-image: url("./assets/images/bg-home2.png"); */
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	/* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
	height: 100vh;
	position: relative;
	display: flex;
	/* z-index: 10 !important; */
}

.spaceship {
	background-image: url("./assets/images/spaceship.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	/* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
	height: 100vh;
	position: relative;
	display: flex;
	/* z-index: 10 !important; */
}

/* .home-background::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  background: #000000;
  opacity: 0.5;
} */

.centering-bg {
	height: 100vh;
	position: relative;
}
/* will always 100vw but not 100vh */
/* .main-background{
  background: url('./assets/images/main-bg.png') no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  height: 100vh;
  position: relative;
} */

.full-width {
	padding: 0 !important;
	margin: 0;
}

.blanket {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: #000000;
	opacity: 0.4;
	left: 0px;
	bottom: 0px;
	/* z-index: 2; */
	/* right: 0px; */
}

.main-display {
	/* display: none; */
	position: absolute;
	background: url("./assets/images/main-popup.png") no-repeat center bottom;
	-webkit-background-size: 60% 90%;
	-moz-background-size: 60% 90%;
	-o-background-size: 60% 90%;
	background-size: 60% 90%;
	top: 0;
	/* bottom: 0px; */
	height: 74vh;
	z-index: 6;
	/* border: 1px solid red; */
}
.main-display-video {
	/* display: none; */
	position: absolute;
	background: url("./assets/images/main-popup.png") no-repeat center center;
	-webkit-background-size: 60% 65%;
	-moz-background-size: 60% 65%;
	-o-background-size: 60% 65%;
	background-size: 60% 65%;
	top: 0;
	/* bottom: 0px; */
	height: 100vh;
	z-index: 6;
	/* border: 1px solid green; */
}

.main-display-video-references {
	/* display: none; */
	position: absolute;
	background: url("./assets/images/panel_video_rules.png") no-repeat center
		center;
	-webkit-background-size: 70% 75%;
	-moz-background-size: 70% 75%;
	-o-background-size: 70% 75%;
	background-size: 82% 81%;
	top: 0;
	/* bottom: 0px; */
	height: 100vh;
	z-index: 6;
	/* border: 1px solid red; */
}
.main-display-rotate {
	/* display: none; */
	position: absolute;
	background: url("./assets/images/Done Uploadipr.png") no-repeat center center;
	-webkit-background-size: 70% 70%;
	-moz-background-size: 70% 70%;
	-o-background-size: 70% 70%;
	background-size: 70% 70%;
	top: 0;
	/* bottom: 0px; */
	height: 100vh;
	z-index: 6;
	/* border: 1px solid red ; */
}
.main-display-portrait {
	/* display: none; */
	position: absolute;
	background: url("./assets/images/Done Uploadipr.png") no-repeat center center;
	-webkit-background-size: 60% 40%;
	-moz-background-size: 60% 40%;
	-o-background-size: 60% 40%;
	background-size: 60% 40%;
	top: 0;
	/* bottom: 0px; */
	height: 100vh;
	z-index: 6;
	/* border: 1px solid red; */
}

.bottom-display {
	position: relative;
	background: url("./assets/images/panel_2.png") no-repeat center top;
	-webkit-background-size: 97% 100%;
	-moz-background-size: 97% 100%;
	-o-background-size: 97% 100%;
	background-size: 97% 100%;
	/* top: -74vh; */
	/* top: 0; */
	height: 100vh;
	z-index: 5;
	/* height: calc(100vh - 44vh); */
	/* border: 1px solid yellow; */
}

.x-image {
	position: absolute;
	left: 76.9%;
	right: 18.85%;
	top: 15%;
	bottom: 86.2%;
	height: 4%;
	width: 1.5%;
}
.x-image:hover {
	cursor: pointer;
}
.x-image-video {
	position: absolute;
	left: 76.9%;
	right: 18.85%;
	top: 20.5%;
	bottom: 86.2%;
	height: 3%;
	width: 1.5%;
}
.x-image-video-references {
	position: absolute;
	left: 86.9%;
	right: 18.85%;
	top: 14%;
	bottom: 86.2%;
	height: 3%;
	width: 1.5%;
}
.x-image-video:hover {
	cursor: pointer;
}

.letter-title {
	position: absolute;
	top: 30%;
	left: 43%;
	font-size: 1.5vw;
}

.text-content {
	position: absolute;
	top: 38%;
	left: 26%;
	right: 23%;
	font-size: 0.9vw;
	overflow: auto;
	height: 35vh;
	/* border: 1px solid red; */
}

.wrapper-text-bottom {
	/* border: 1px solid red; */
	position: absolute;
	top: 78%;
	left: 21.5%;
	width: 50vw;
	text-align: left;
}

.title-bottom {
	/* position: absolute;
  top: 78%;
  left: 21%; */
	margin-bottom: 1.5vh;
	/* font-size: 1.3vw !important; */
	font-size: 1.4vw !important;
	z-index: 6;
}

.text-bottom {
	/* position: absolute;
  top: 81%;
  left: 21%;
  right: 35%; */
	/* font-size: 1vw !important; */
	font-size: 1.1vw !important;
	margin-bottom: 0;
	z-index: 6;
	line-height: 2vh !important;
}
.text-bottom-second {
	/* position: absolute;
  top: 83%;
  left: 21%; */
	/* font-size: 1vw !important; */
	font-size: 18px !important;
	z-index: 6;
	line-height: 2vh !important;
}

.btn-log-out {
	background-color: #ff0000 !important;
	float: right;
	margin-top: 1%;
}

.video-frame {
	position: absolute;
	top: 31vh;
	left: 31%;
	height: 45%;
	width: 48%;
	/* border: 1px solid red; */
}

.tes {
	border: qpx solid red;
}

.video-frame-home {
	position: absolute;
	top: 23vh;
	left: 31%;
	height: 60%;
	width: 40%;
	/* border: 1px solid red; */
}

@media (max-width: 1440px) {
	.video-frame {
		top: 29vh;
		left: 27.5%;
		height: 48%;
	}
}
@media (max-width: 1366px) {
	.video-frame {
		top: 27vh;
		left: 26%;
		height: 48%;
	}
}

@media (max-width: 1024px) {
	.video-frame {
		top: 27vh;
		left: 27%;
		height: 48%;
	}

	.video-frame-home {
		position: absolute;
		top: 21vh;
		left: 26%;
		height: 60%;
		width: 50%;
		/* border: 1px solid red; */
	}
}
@media (max-height: 768px) {
	.video-frame {
		top: 30vh;
		left: 29%;
		height: 48%;
	}
}

.video-player {
	/* position: relative; */
	border-radius: 10px;
	height: 50vh !important;
	width: 100%;
}
/* ///////////////////////////////////////////////////////////////////
//////////////////////    MEETING ROOM    ////////////////////
////////////////////////////////////////////////////////////////////// */
.text-content-zoom {
	position: relative;
	top: 50%;
	left: 26%;
	right: 23%;
	width: 50vw;
	/* font-size: 0.9vw; */
	/* border: 1px red solid; */
}

.text-content-zoom p,
.text-content-zoom a {
	font-size: 1vw !important;
}

@media (max-width: 1366px) {
	.text-content-zoom p {
		font-size: 2vw !important;
	}
}
@media (max-width: 1024px) {
}
.meeting-btn {
	/* background-color: #0a99c7 !important; */
	/* box-shadow: 0px 0.4vw #006281; */
	border-radius: 10px !important;
	/* opacity: 0.7; */
	font-size: 0.7vw;
}

.meeting-btn:hover {
	opacity: 1;
}

@media (max-width: 1366px) {
	.meeting-btn {
		font-size: 16px !important;
	}
}

/* ///////////////////////////////////////////////////////////////////
//////////////////////    Video Competition    ////////////////////
////////////////////////////////////////////////////////////////////// */

.video-competition-text-wrapper {
	margin-top: 6vh;
}

.video-theme {
	margin-top: 50px;
	margin-bottom: 25px;
}

.video-deadline {
	margin-top: 4vh;
	margin-bottom: 3.5vh;
}

.video-button-wrapper {
	/* border: 1px red solid; */
	width: 30% !important;
	margin-top: 5vh;
}
.btn-up-wrapper {
	margin-bottom: 3vh;
}

.menu-btn {
	width: 10vw !important;
	height: 6vh;
	border: none;
	border-radius: 10px;
}

.btn-middle {
	margin-right: 1.1vw;
	margin-left: 1.1vw;
}

.btn-blue {
	background-color: #0a99c7;
	box-shadow: 0px 0.7vw #006281;
}

.btn-red {
	background-color: #fd3061;
	box-shadow: 0px 0.7vw #d70c4b;
}

.content-container {
	/* border: 1px solid red; */
	position: absolute;
	top: 30%;
	left: 25%;
	height: 42vh;
	width: 52vw;

	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.text-title-vcompetition {
	position: absolute;
	top: 27%;
	left: 48%;
}

.text-content-vcompetition {
	position: absolute;
	top: 33%;
	left: 26%;
	width: 50%;
	text-align: center;
	/* border: 1px solid red; */
	height: 39%;
	/* overflow: auto; */
}

.text-title-approval {
	position: absolute;
	top: 35%;
	left: 38%;
	font-size: 1.8vw !important;
	/* border: 1px solid red; */
}

.text-content-approval {
	position: absolute;
	top: 44%;
	left: 26%;
	width: 50%;
	/* border: 1px solid red; */
	height: 39%;
	overflow: auto;
}

.text-align-approval {
	text-align: center;
}
.text-align-reject p {
	text-align: center;
}

.text-content-approval p {
	font-size: 1vw !important;
	line-height: 2.3vh !important;
}
.menu-btn-approval {
	width: 5vw !important;
	height: 3vh;
	border: none;
	border-radius: 10px;
	margin-top: 2vh;
}
.btn-blue-approval {
	background-color: #0a99c7;
	box-shadow: 0px 0.4vw #006281;
}

.video-carousel {
	/* border: 1px solid red; */
	position: absolute;
	top: 25vh;
	left: 18%;
	width: 66vw;
	height: 59vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.player-carousel {
	width: 23vw !important;
	height: 56vh;
	margin: 0 5px;
	/* border: 1px solid red; */
}
/* ///////////////////////////////////////////////////////////////////
//////////////////////    Rotate    ////////////////////
////////////////////////////////////////////////////////////////////// */

.rotate-img-landscape img {
	margin-top: 1vh;
	margin-left: 23%;
	width: 25vw;
	height: 30vh;
}

.text-rotate-landscape {
	/* position: absolute;
  top: 62%;
  left: 30%; */
	/* width: 45vw; */
	margin-left: 1vw;
	margin-top: 1.5vh;
	font-size: 2vw !important;
	/* border: 1px solid red; */
}

.landscape-wrapper {
	position: absolute;
	top: 30%;
	left: 27.5%;
	width: 50vw;
	height: 48vh;
	/* border: 1px solid red; */
}

.portrait-wrapper {
	/* border: 1px solid red; */
}

.experience-btn {
	position: absolute;
	top: 77%;
	left: 31.5%;
	width: 40vw;
	height: 5vh;
	z-index: 12;
	background-color: rgba(50, 103, 122, 1) !important;
}

.rotate-img {
	position: absolute;
	top: 30%;
	left: 37%;
	/* right: 46%; */
}
.rotate-img img {
	width: 27vw;
	height: 35vh;
}

.text-rotate {
	position: absolute;
	top: 68%;
	left: 30%;
	width: 45vw;
	font-size: 2.5vw !important;
}
/* ///////////////////////////////////////////////////////////////////
//////////////////////    Commitment Wall    ////////////////////
////////////////////////////////////////////////////////////////////// */
.text-content-commitment {
	position: relative;
	top: 29%;
	left: 26%;
	/* right: 23%; */
	width: 50vw !important;
	height: 46vh !important;
	/* font-size: 0.9vw; */
	/* border: 1px yellow solid; */
}

.slick-carousel-commitment {
	position: relative;
	top: -16vh;
	/* border: red 1px solid; */
	margin-top: 5%;
	height: 40vh !important;
}

.grid-container {
	position: relative;
	display: grid;
	/* grid-template-columns: repeat(20, 1.25vw); */
	grid-template-columns: repeat(20, 2.5vw);
	height: 100%;
	width: 50%;
	/* border: red 1px solid; */
	z-index: 40;
}
.grid-container-tampilan {
	position: relative;
	display: grid;
	/* grid-template-columns: repeat(20, 1.25vw); */
	grid-template-columns: repeat(20, 5vw);
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 0 !important;
	margin: 0 !important;
	/* border: red 1px solid; */
	/* z-index: 40; */
}

.grid-item-tampilan {
	/* border: 1px solid red; */
	display: relative;
	/* z-index: 50; */
	height: 10vh;
	width: 100%;
	padding: 0 !important;
	margin: 0 !important;
	box-sizing: border-box;
}

.commitment-picture-tampilan {
	position: relative;
	/* top: 0%; */
	width: 100%;
	/* left: 0%; */
	height: 100%;
	border: none;
}
.grid-item {
	/* border: 1px solid black; */
	display: relative;
	z-index: 50;
	height: 4.6vh;
	/* width: 100%; */
}

/* @keyframes blink {
	50% {
		border-color: #ff0000;
	}
} */
@keyframes blink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
.grid-blink {
	animation: blink 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
	/* border: 1px solid black; */
}

.overlay-picture {
	/* background-color: gray; */
	background-color: #000000;
	opacity: 0.5;
}

.comment-text {
	font-family: "Reenie Beanie", cursive;
}
.carousel-commitment {
	width: 8vw !important;
	height: 16vh !important;
	/* border: 1px yellow solid; */
	-o-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	position: relative;
	top: 5px;
	background-color: #cfc;
	margin-top: 2vh;
	margin-bottom: 1vh;
	margin-left: 2vh;
	margin-right: 2vh;
	/* font-size: 10% !important; */
}
.carousel-commitment h3,
.carousel-commitment-2 h3 {
	font-size: 1vw !important;
	text-align: left;
	color: black !important;
	margin-left: 0.1vw;
}
.carousel-commitment-2 {
	width: 8vw !important;
	height: 16vh !important;
	/* border: 1px yellow solid; */
	-o-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	position: relative;
	top: 5px;
	background-color: #ccf;
	margin-top: 2vh;
	margin-left: 2vh;
	margin-right: 2vh;
	margin-bottom: 1vh;
	font-size: 10% !important;
}

.commitment-picture {
	position: relative;
	/* top: 0%; */
	width: 100%;
	/* left: 0%; */
	height: 100%;
	border: none;
}

.commitment-gray {
	-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	-o-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
}

#wallInput {
	width: 60%;
	margin-left: 20%;
}

.black-input {
	color: black !important;
	/* width: auto; */
}

/* #text-counter {
	text-align: right;
	margin-right: 20%;
	font-size: 10px !important;
} */
.noInput {
	display: none;
}

.haveInput {
	text-align: left;
	margin-left: 20%;
	/* position: absolute;
  left: 50% !important; */
}
/* text fade-in */

.textEffect {
	animation: fadein 4s;
	-moz-animation: fadein 4s;
	-webkit-animation: fadein 4s;
	-o-animation: fadein 4s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* button */
a:hover {
	text-decoration: none !important;
}
.dedcription-btn {
	width: 30%;
	position: relative;
	display: inline-block;
	/* border-radius: 30px; */
	background-color: #0a99c7;
	color: #ffa000;
	text-align: center;
	font-size: 100%;
	padding: 1.03% 0;
	transition: all 0.3s;
	padding-right: 40px;
	margin: 20px 5px;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
}
.dedcription-btn .btn-icon {
	background-color: rgba(0, 98, 129, 1);
	width: 30%;
	height: 100%;
	float: right;
	position: absolute;
	/* border-radius: 30px 30px 30px 0;; */
	right: 0px;
	top: 0px;
	transition: all 1s;
}
.name-descripeion {
	position: relative;
	z-index: 9999;
}

.btn-icon::after {
	content: "";
	width: 0;
	height: 0;
	border-top: 4.73vh solid #0a99c7;
	border-right: 2.2vw solid transparent;
	position: absolute;
	top: 0px;
	left: 0px;
}
.dedcription-btn:hover .btn-icon {
	width: 0%;
	/* border-radius: 30px; */
}

.dedcription-btn:hover .btn-icon::after {
	display: none;
	opacity: 0.1;
}
.btn-icon img {
	position: absolute;
	right: 20%;
	top: 37%;
	color: #fff;
	background-color: transparent !important;
}
.dedcription-btn:hover {
	color: #fff !important;
}

.arrow-background {
	background-color: #00b7c4 !important;
}

/* ///////////////////////////////////////////////////////////////////
////////////////////////////    Modal    ///////////////////////////
////////////////////////////////////////////////////////////////////// */

.wrapper.modal-active {
	overflow: hidden;
}

#modal-container {
	position: fixed;
	display: table;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transform: scale(0);
	z-index: 4;
}
#modal-container.one {
	transform: scaleY(0.01) scaleX(0);
	animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one .modal-background .modal {
	transform: scale(0);
	animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.out {
	transform: scale(1);
	animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.out .modal-background .modal {
	animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container .modal-background {
	display: table-cell;
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(8px);
	text-align: center;
	vertical-align: middle;
}
#modal-container .modal-background .modal {
	/* background: white; */
	/* padding: 50px; */
	display: inline-block;
	border-radius: 3px;
	font-weight: 300;
	position: relative;
}
#modal-container .modal-background .modal h2 {
	font-size: 25px;
	line-height: 25px;
	margin-bottom: 15px;
}
#modal-container .modal-background .modal p {
	/* font-size: 18px; */
	line-height: 22px;
}
#modal-container .modal-background .modal .modal-svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 3px;
}
#modal-container .modal-background .modal .modal-svg rect {
	stroke: #fff;
	stroke-width: 2px;
	stroke-dasharray: 778;
	stroke-dashoffset: 778;
}

.content {
	min-height: 100%;
	height: 100%;
	background: white;
	position: relative;
	z-index: 0;
}
.content h1 {
	padding: 75px 0 30px 0;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
}
.buttons {
	max-width: 800px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
.buttons .button {
	display: inline-block;
	text-align: center;
	padding: 10px 15px;
	margin: 10px;
	background: red;
	font-size: 18px;
	background-color: #efefef;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
.buttons .button:hover {
	color: white;
	background: #009bd5;
}

@keyframes unfoldIn {
	0% {
		transform: scaleY(0.005) scaleX(0);
	}
	50% {
		transform: scaleY(0.005) scaleX(1);
	}
	100% {
		transform: scaleY(1) scaleX(1);
	}
}
@keyframes unfoldOut {
	0% {
		transform: scaleY(1) scaleX(1);
	}
	50% {
		transform: scaleY(0.005) scaleX(1);
	}
	100% {
		transform: scaleY(0.005) scaleX(0);
	}
}
@keyframes zoomIn {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes zoomOut {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes slowFade {
	0% {
		opacity: 1;
	}
	99.9% {
		opacity: 0;
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

/* ============================================================================== */
/* ================================ VIDEO SUBMIT ================================ */
/* ============================================================================== */

.video-rules {
	width: 803px;
	height: 90vh;
	background: url("./assets//images/upload-bg.png");
	background-size: cover;
	background-position: center;
	/* border: 1px solid red; */
	/* box-sizing: border-box; */
	padding: 100px 50px 0 50px;
	/* text-align: left; */
}

.video-rules p {
	color: #000000 !important;
}

.video-dotline {
	position: relative;
	border: 3px dashed #c4c4c4;
	/* border: 3px dashed red; */
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 15px;
}

.video-dotline-err {
	position: relative;
	border: 3px dashed red;
	/* border: 3px dashed red; */
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 15px;
}

.video-dotline img {
	margin-bottom: 15px;
}

.video-dotline .grey-text {
	color: grey !important;
	/* margin-top: 0; */
}

.video-upload {
	opacity: 0;

	/* Netscape or and older firefox browsers */
	-moz-opacity: 0;

	/* older Safari browsers */
	-khtml-opacity: 0;

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.video-dotline input:hover,
.video-dotline-err input:hover {
	cursor: pointer;
}

.input-caption {
	/* border: 1px solid red; */
	margin-top: 10px;
}

/* Lock screen */
/* @media screen and (min-width: 320px) and (max-width: 1024px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    bottom: 0;
  }
} */

.done-upload {
	/* border: 1px solid red; */
	width: 901px;
	height: 50vh;
	background: url("./assets/images/done-upload.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding: 60px 0 0 0;
}

.done-upload-container {
	/* border: 1px solid red; */
	margin: 0 auto;
	width: 80%;
}

.modal-upload-bg {
	backdrop-filter: blur(8px);
	background-image: url("./assets/images/done-upload.png") !important;
	background-size: 60% 60%;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid red;
}

.modal-upload {
	/* background: transparent !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background: #0b465f; */
	/* border: 1px solid red; */
	/* background: rgba(255, 255, 255, 0) !important; */
	background-image: url("./assets/images/done-upload.png") !important;
	padding: 100px !important;
	/* z-index: 99; */
	/* width: 651px; */
	height: 365px;
	text-align: center;
}

.texarea {
	resize: none;
}

.slick-dots li button::before {
	font-size: 16px;
	color: #fff !important;
	opacity: 0.7;
}

.slick-dots li.slick-active button::before {
	color: #fff;
	opacity: 1;
}

/* Video Slider indicator */

.slides-wrapper {
	position: relative;
	top: -17vh !important;
	/* border: red 1px solid; */
	height: 50vh;
	display: flex;

	overflow-x: auto;
	scroll-snap-type: x mandatory;

	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}
.slides-wrapper::-webkit-scrollbar {
	width: 20px;
	height: 5px;
}
.slides-wrapper::-webkit-scrollbar-thumb {
	background: rgba(182, 245, 255, 1);
	border-radius: 10px;
}
.slides-wrapper::-webkit-scrollbar-track {
	background: transparent;
}
.slides-wrapper > div {
	/* scroll-snap-align: start; */
	flex-shrink: 0;
	/* width: 90px;
	height: 10px; */
	margin-right: 2vw;
	border-radius: 10px;
	/* background: #eee; */
	transform-origin: center center;
	transform: scale(1);
	transition: transform 0.5s;
	position: relative;
	/* border: 1px solid yellow; */
	display: flex;
	/* justify-content: center; */
	align-items: start;
	font-size: 1vw;
}

.slider-wrapper {
	height: 45.5vh;
	width: 12.5vw;
	/* border: 1px solid blue; */
}

/* .video-content {
	height: 100%;
} */

/* video {
	height: 100%;
	width: 100%;
} */
.slider-wrapper video {
	height: 42vh !important;
	width: 12vw;
	/* border: 1px solid yellow; */
}

/* .swiperrr {
	border: 1px solid red;
	position: absolute;
	top: -160px;
	height: 51vh;
} */

.like-button {
	position: relative;
	top: 0vh;
	/* left: 0vw; */
	width: 10vw !important;
	height: 4vh;
	background: transparent;
	/* line-height: 1vh; */
	border: none;
	font-size: 2vw;
	/* padding-top: -3vh; */
	/* color: red; */
	/* z-index: 11; */
}

.like-button span {
	font-size: 2vw;
}

.arrow-right {
	position: absolute;
	top: 10%;
	left: 102%;
	z-index: 50;
	/* height: 20px; */
	font-size: 20px;
}
.arrow-left {
	position: absolute;
	top: 10%;
	left: -6%;
	z-index: 50;
	/* height: 20px; */
	font-size: 20px;
}
@media (max-width: 1366px) {
	#items.shifting {
		transition: left 0.2s ease-out;
	}
}

/* ///////////////////////////////////////////////////////////////////
////////////////////////////    test-commitment   ///////////////////////////
////////////////////////////////////////////////////////////////////// */

.test-commitment {
	background: url("./assets/images/exhibitionRoom.jpg") no-repeat center center
		fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	height: 100vh;
	position: relative;
}

/* .notes-room {
	border: 1px solid black;
}
.wall-room {
	border: 1px solid red;
}
.entertainment-room {
	border: 1px solid blue;
} */

.wall-room {
	position: absolute;
	top: 58vh;
	left: 46vw;
	z-index: 3;
	width: 150px;
	text-align: center;
}

.commitment-bold {
	background-color: white;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 8%;
	left: 33.4%;
	border-radius: 50%;
}

.notes-room {
	position: absolute;
	top: 27vh;
	left: 65vw;
	z-index: 3;
	width: 150px;
	text-align: center;
}

.commitment-bold1 {
	background-color: white;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 9.5% !important;
	left: 33%;
	border-radius: 50%;
}

.entertainment-room {
	position: absolute;
	top: 37vh;
	left: 21vw;
	z-index: 3;
	width: 150px;
	text-align: center;
}

.commitment-bold2 {
	background-color: white;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 9%;
	left: 33%;
	border-radius: 50%;
}

@media (max-width: 1366px) {
	.wall-room {
		left: 44.5vw;
	}

	.commitment-bold {
		top: 8.3% !important;
		left: 33%;
	}

	.commitment-bold1 {
		top: 9.8% !important;
		left: 33.7%;
	}

	.commitment-bold2 {
		top: 8.6% !important;
		left: 33.5%;
	}
}

@media (max-width: 1024px) {
	.wall-room {
		left: 42.3vw;
	}
	.commitment-bold {
		top: 10% !important;
		left: 33%;
	}

	.entertainment-room {
		width: 160px;
	}

	.commitment-bold1 {
		top: 9.8% !important;
		left: 33.5%;
	}

	.commitment-bold2 {
		top: 10% !important;
		left: 34.8%;
	}
}

.wall-room:hover,
.notes-room:hover,
.entertainment-room:hover {
	cursor: pointer;
}

.upload-text {
	color: white !important;
}

.terms {
	text-decoration: underline;
	color: #0a99c7;
	transition: all 0.2s;
}

.terms:hover {
	cursor: pointer;
	color: #0caee4;
}

.conference-bg {
	background: url("./assets/images/conference_room.jpg") no-repeat center center
		fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: cover;
	height: 100vh;
	position: relative;
}

/* .conference-bg::before {
	content: "";
	border: 1px solid red;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	background: #000000;
	opacity: 0.5;
} */

.conference-room-1 {
	position: absolute;
	left: 49.5%;
	top: 57.5%;
	width: 150px;
	text-align: center;
	/* background-color: rgba(0, 0, 0, 0.22); */
}

.conference-bold {
	background-color: white;
	height: 70px;
	width: 70px;
	position: absolute;
	top: 9.3%;
	left: 26.6%;
	border-radius: 50%;
}
.conference-bold-cross {
	background-color: white;
	height: 70px;
	width: 70px;
	position: absolute;
	top: 8.5%;
	left: 26.8%;
	border-radius: 50%;
}

.conference-room-2 {
	position: absolute;
	left: 26%;
	top: 67.5%;
	width: 150px;
	text-align: center;

	/* background-color: rgba(0, 0, 0, 0.22); */
}

.conference-bold2 {
	background-color: white;
	height: 37%;
	width: 35%;
	position: absolute;
	top: 9% !important;
	left: 33%;
	border-radius: 50%;
}

.conference-room-4 {
	position: absolute;
	left: 37%;
	top: 75%;
	width: 150px;
	text-align: center;
	/* background-color: rgba(0, 0, 0, 0.22); */
}

.conference-bold3 {
	background-color: white;
	height: 37%;
	width: 35%;
	position: absolute;
	top: 9% !important;
	left: 33%;
	border-radius: 50%;
}

.conference-room-5 {
	position: absolute;
	left: 62%;
	top: 76%;
	text-align: center;
	width: 150px;
	/* background-color: rgba(0, 0, 0, 0.22); */
}
.conference-room-6 {
	position: absolute;
	left: 76.5%;
	top: 66%;
	text-align: center;
	width: 150px;
	/* background-color: rgba(0, 0, 0, 0.22); */
}

.conference-bold5 {
	background-color: white;
	height: 37%;
	width: 35%;
	position: absolute;
	top: 9.4% !important;
	left: 33%;
	border-radius: 50%;
}

.conference-room-7 {
	position: absolute;
	left: 74%;
	top: 83%;
	text-align: center;
	width: 150px;
	/* background-color: rgba(0, 0, 0, 0.22); */
}

.conference-bold6 {
	background-color: white;
	height: 33%;
	width: 35%;
	position: absolute;
	top: 6%;
	left: 32.9%;
	border-radius: 50%;
}

.conference-bold4 {
	background-color: white;
	height: 37%;
	width: 35%;
	position: absolute;
	top: 9% !important;
	left: 33%;
	border-radius: 50%;
}

@media (max-width: 1440px) {
	.conference-room-1 {
		width: 120px;
		left: 51%;
	}
	.conference-bold {
		top: 10%;
		left: 20.96%;
	}

	.conference-bold-cross {
		top: 10%;
		left: 21%;
	}
	.conference-room-2 {
		left: 22%;
		top: 65%;
	}
	.conference-bold2 {
		top: 9.6% !important;
		left: 33.14%;
	}
	.conference-room-4 {
		left: 34%;
		top: 73%;
	}

	.conference-bold4 {
		top: 9.5% !important;
		left: 32.5%;
	}

	.conference-room-6 {
		top: 63%;
		left: 85%;
	}
	.conference-room-7 {
		top: 75%;
		left: 75.5%;
	}
	.conference-room-5 {
		left: 62%;
		top: 71%;
		/* background-color: rgba(0, 0, 0, 0.22); */
	}
}

@media (max-width: 1366px) {
	.conference-room-1 {
		width: 120px;
		left: 51%;
	}
	.conference-bold {
		top: 9.7%;
		left: 20.96%;
	}

	.conference-bold-cross {
		top: 7.3%;
		left: 22%;
	}
	.conference-room-2 {
		left: 17.7%;
		top: 66%;
	}
	.conference-bold2 {
		top: 9.6% !important;
		left: 33.14%;
	}
	.conference-room-4 {
		left: 34%;
		top: 73%;
	}
	.conference-room-5 {
		left: 64%;
		top: 72%;
	}
	.conference-bold4 {
		top: 9.5% !important;
		left: 32.5%;
	}

	.conference-room-6 {
		top: 63%;
		left: 84%;
	}
	.conference-room-7 {
		top: 79%;
		left: 79.5%;
	}
}

@media (max-width: 1366px) and (max-height: 768px) {
	.conference-room-5 {
		left: 62%;
		top: 70%;
	}
	.conference-room-7 {
		top: 79%;
		left: 73%;
		width: 170px;
	}
	.conference-bold6 {
		background-color: white;
		height: 40%;
		width: 33%;
		position: absolute;
		top: 7.5%;
		left: 33.5%;
		border-radius: 50%;
	}
}

@media (max-width: 1024px) {
	.conference-room-2 {
		left: 17.8%;
		top: 63%;
		width: 110px;
	}
	.conference-bold2 {
		top: 9% !important;
		left: 28%;
		height: 40%;
		width: 44%;
	}
	.conference-room-1 {
		width: 100px;
		left: 52%;
		top: 57%;
	}
	.conference-bold {
		top: 10.7%;
		left: 16%;
	}

	.conference-bold-cross {
		top: 7.3%;
		left: 16%;
	}

	.conference-room-4 {
		left: 32%;
		top: 73%;
	}

	.conference-bold3 {
		top: 9% !important;
		left: 32.5%;
		height: 40%;
		width: 35%;
	}

	.conference-room-5 {
		left: 62%;
		top: 69%;
	}

	.conference-bold4 {
		top: 9% !important;
		left: 32.5%;
		height: 40%;
		width: 35%;
	}

	.conference-room-6 {
		left: 86%;
		top: 61.5%;
		width: 120px;
	}

	.conference-bold5 {
		top: 9% !important;
		left: 29%;
		width: 42% !important;
		height: 40%;
	}

	.conference-room-7 {
		left: 77%;
		top: 80%;
	}

	.conference-bold6 {
		top: 9%;
		left: 32.6%;
		height: 40%;
		width: 35%;
	}
}

.conference-room-1:hover,
.conference-room-2:hover,
.conference-room-3:hover,
.conference-room-4:hover,
.conference-room-5:hover {
	cursor: pointer;
}

.room-label-img {
	position: relative;
	z-index: 1;
	left: 140px;
	top: -40px;
}

.room-label {
	position: relative;
	z-index: 2;
	left: 161px;
	top: -115px;
	width: 40vw;
	/* border: 1px red solid; */
}

.agenda-button {
	width: 7.444vw;
	height: 6.851851851851851vh !important;
	font-weight: 400;
	font-size: 1.25vw !important;
	margin-top: 10px;
	position: absolute;
	top: 16vh;
	left: 8vw;
	border-radius: 10px;
	/* border: 5px solid #58fffd; */
}
.agenda-button:hover,
.agenda-text:hover {
	cursor: pointer;
}
.agenda-text {
	width: 9vw;
	/* height: 6vh !important; */
	font-weight: 400;
	font-size: 1.25vw !important;
	margin-top: 10px;
	position: absolute;
	top: 17.5vh;
	left: 7.2vw;
	/* border: 5px solid #58fffd; */
	text-align: center;
}
.survey-button {
	width: 7.444vw;
	height: 6.851851851851851vh !important;
	font-weight: 400;
	font-size: 1.25vw !important;
	margin-top: 10px;
	position: absolute;
	top: 16vh;
	left: 17vw;
	border-radius: 10px;
}

.survey-text {
	width: 5vw;
	/* height: 6vh !important; */
	font-weight: 400;
	font-size: 1.25vw !important;
	margin-top: 10px;
	position: absolute;
	top: 17.5vh;
	left: 18vw;
	color: white;
	/* border: 1px solid red; */
	text-align: center;
}

.survey-button:hover,
.survey-text:hover {
	cursor: pointer;
	color: white;
}

.survey-button,
.agenda-button {
	animation: blinks 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}
@keyframes blinks {
	from {
		border: 5px solid rgba(88, 255, 253, 1);
	}
	to {
		border: 5px solid rgba(88, 255, 253, 0);
	}
}

.download-agenda {
	text-decoration: underline;
}

@media (max-width: 1366px) {
	.agenda-button {
		width: 9vw;
		height: 6vh !important;
		top: 15vh;
		left: 11vw;
	}
	.agenda-text {
		width: 6vw;
		font-size: 2vw !important;
		top: 16vh;
		left: 12.2vw;
	}
	.survey-button {
		width: 9vw;
		height: 6vh !important;
		top: 15vh;
		left: 21vw;
	}
	.survey-text {
		width: 5vw;
		font-size: 2vw !important;
		top: 16.2vh;
		left: 22.4vw;
	}
}

@media (max-width: 1366px) and (max-height: 768px) {
	.survey-button,
	.agenda-button {
		top: 19vh !important;
		width: 9vw;
		height: 9vh !important;
	}
	.survey-text,
	.agenda-text {
		top: 21vh !important;
	}
}
@media (max-width: 1024px) {
	.agenda-button {
		width: 12vw;
		height: 8vh !important;
		top: 18vh;
		left: 15vw;
	}
	.agenda-text {
		width: 9vw;
		font-size: 2.5vw !important;
		/* height: 6vh !important; */
		top: 19.5vh;
		left: 16.3vw;
		/* border: 1px solid red; */
		/* text-align: center; */
	}

	.survey-button {
		width: 12vw;
		height: 8vh !important;
		top: 18vh;
		left: 29vw;
	}
	.survey-text {
		width: 9vw;
		font-size: 2.5vw !important;
		top: 19.5vh;
		left: 30.5vw;
	}
}
.slick-carousel-agenda {
	position: relative;
	top: -17vh;
	padding-top: 1vh;
	/* border: 1px solid red; */
	/* height: 47vh; */
	/* overflow-y: auto; */
}

.agenda-card {
	/* border: 1px solid yellow; */
	height: 47vh;
	overflow-y: auto;
}

.date-title {
	text-align: left;
	margin-bottom: 10vh !important;
	font-size: 48px !important;
}

.table-color {
	color: white;
	font-weight: 400;
	font-size: 18px;
}

.today-agenda {
	position: relative;
	top: 27vh;
	left: 25vw;
	/* border: 1px solid yellow; */
	width: 50vw;
	height: 53vh;
}

.table-wrapper {
	/* border: 1px solid red; */
	height: 35vh;
	overflow: auto;
	margin-bottom: 1vh;
}
.date-title-front {
	text-align: left;
	margin-bottom: 2vh !important;
	font-size: 48px !important;
}
.date-title-front-2 {
	text-align: center;
	padding-top: 30%;
	margin-bottom: 2vh !important;
	font-size: 32px !important;
}
.table-center {
	text-align: center;
}

.agenda-ok {
	position: relative;
	left: 40%;
	width: 7vw;
	height: 5vh !important;
	margin-bottom: 1vh !important;
}

.agenda-check {
	position: relative;
	left: 40%;
	/* margin-left: 50vw; */
	/* padding-right: auto; */
	/* border: 1px solid blue; */
	/* text-align: center; */
	/* margin-left: 1.5vw; */
}
/* ///////////////////////////////////////////////////////////////////
////////////////////////////    video room  ///////////////////////////
////////////////////////////////////////////////////////////////////// */
.video-room {
	background: url("./assets/images/videoRoom.jpg") no-repeat center center fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	height: 100vh;
	position: relative;
}

.video-entrance {
	position: absolute;
	top: 67vh;
	left: 44vw;
	z-index: 3;
	text-align: center;
	width: 350px;
	/* border: 1px solid red; */
}

.video-bold {
	background-color: white;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 10% !important;
	left: 42.9%;
	border-radius: 50%;
}

.video-entrance:hover {
	cursor: pointer;
}

@media (max-width: 1708px) {
	.video-entrance {
		top: 65vh;
		left: 41.5vw;
	}
}

@media (max-width: 1440px) {
	.video-entrance {
		left: 39.5vw;
	}
}

@media (max-width: 1366px) and (max-height: 768px) {
	.video-entrance {
		top: 65vh;
		left: 38.5vw;
	}
}

@media (max-width: 1024px) {
	.video-entrance {
		top: 63vh;
		left: 34.5vw;
	}
}

.back_button {
	/* height: 4vw; */
	width: 8vh;
	position: relative;
	top: 50px;
	left: 50px;
	z-index: 3;
	/* border: 1px solid red; */
}
.back_button:hover {
	cursor: pointer;
}

@keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}
@-webkit-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}
@-moz-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}
@-ms-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

.stars,
.twinkling {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.stars {
	background: #031c33
		url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
		center;
	z-index: 0;
}

.twinkling {
	background: transparent url("./assets/images/twinkling.png") repeat top center;
	z-index: 1;
	background-size: 150px;

	-moz-animation: move-twink-back 200s linear infinite;
	-ms-animation: move-twink-back 200s linear infinite;
	-o-animation: move-twink-back 200s linear infinite;
	-webkit-animation: move-twink-back 200s linear infinite;
	animation: move-twink-back 200s linear infinite;
}

.spaceship-btn {
	position: absolute;
	top: 43vh;
	left: 59vw;
	z-index: 3;
	width: 150px;
	text-align: center;
}

.spaceship-btn:hover {
	cursor: pointer;
}
