@media (max-width: 1024px) {
	h1 {
		font-size: 58px !important;
		color: white;
	}
	h2 {
		font-size: 42px !important;
		color: white;
	}
	h3 {
		font-size: 36px !important;
		color: white;
	}
	h4 {
		font-size: 30px !important;
		color: white;
	}
	h5 {
		font-size: 20px !important;
		color: white;
	}

	p {
		font-size: 16px !important;
		color: white;
	}

	.main-display-video {
		-webkit-background-size: 80% 70%;
		-moz-background-size: 80% 70%;
		-o-background-size: 80% 70%;
		background-size: 80% 70%;
	}

	.x-image-video {
		left: 85.7%;
		/* right: 12.85%; */
		top: 18.1%;
		/* bottom: 86.2%; */
		height: 3%;
		width: 2%;
	}

	.text-title-vcompetition {
		top: 24%;
		left: 48%;
	}

	.text-content-vcompetition {
		top: 30%;
		left: 16%;
		width: 70%;
		height: 45%;
		text-align: center;
		/* border: 1px solid red; */
		/* overflow: auto; */
	}

	/* .video-carousel {
		border: 1px solid red;

		top: 30vh;
		left: 15%;
		width: 70%;
		height: 46vh;
	} */

	/* .player-carousel {
		width: 100% !important;
    height: 43vh;

		top: 30vh;
		left: 15%;
		width: 70% !important;
		height: 46vh;
		border: 1px solid red;
	} */
	.done-upload {
		padding: 30px 0 0 0;
	}
}

/* ========================== IPAD PRO ========================== */
@media (max-width: 1366px) and (min-width: 1025px) {
	.main-display-video {
		-webkit-background-size: 80% 70%;
		-moz-background-size: 80% 70%;
		-o-background-size: 80% 70%;
		background-size: 80% 70%;
	}

	.x-image-video {
		left: 85.7%;
		/* right: 12.85%; */
		top: 18.1%;
		/* bottom: 86.2%; */
		height: 3%;
		width: 2%;
	}

	.text-content-vcompetition {
		top: 35%;
		left: 16%;
		width: 70%;
		text-align: center;
		/* border: 1px solid red; */
		/* overflow: auto; */
	}

	/* .video-carousel {
		border: 1px solid red;

		top: 30vh;
		left: 16%;
		width: 70%;
		height: 45vh;
	} */

	/* .player-carousel {
		width: 70% !important;
		height: 45vh;
		border: 1px solid red;
	} */

	.video-rules {
		width: 70vh;
		height: 80vh;
		background: url("./assets//images/upload-bg.png");
		background-size: cover;
		background-position: center;
		/* border: 1px solid red; */
		/* box-sizing: border-box; */
		padding: 100px 50px 0 50px;
		/* text-align: left; */
	}

	.done-upload {
		padding: 90px 0 0 0;
	}
}

/* @media (max-width: 1366px) {
	.video-bold {
		left: 42.8%;
	}
	.video-entrance {
		left: 37vw;
	}
}
@media (max-width: 1024px) {
	.video-entrance {
		top: 70.5vh;
		left: 33vw;
	}
} */
